@font-face {
    font-family: "edunline";
    src: url(../fonts/edunline.ttf)
}

@font-face {
    font-family: "Wolf";
    src: url(../fonts/Wolf.ttf);
}

.our-team {
    text-align: center;
    margin-bottom: 20px;
}

.our-team .container__flex {
    align-items: flex-start;
}

.out-team__title {
    font-family: 'Glitch';
    color: #138d75;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.out-team__title2 {
    font-family: 'Wolf';
    font-size: 50px;
}

.our-team__img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto center;
    margin-bottom: 20px;
}

.personal__img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10%;
    margin: auto;
    max-width: 350px;
}

.our-team__txt {
    font-size: 22px;
    padding: 1px;
    text-align: justify;
}

@media screen and (min-width:480px) {
    .our-team__img {
        width: 150px;
        height: 150px;
    }        
}

@media screen and (min-width:768px) {
    .our-team__img {
        width: 220px;
        height: 220px;
    }        
}

@media screen and (min-width:1024px) {
    .our-team__img {
        width: 310px;
        height: 310px;
    }        
}

@media screen and (min-width:1600px) {
    .our-team__img {
        width: 420px;
        height: 420px;
    }        
}
